---
import "@styles/index.css"
import Navbar from "@hero/components/Navbar.astro"
import Footer from "@hero/components/Footer.astro"
import "aos/dist/aos.css"
import GTM from "@analytics/GTM.astro"
import GA4 from "@analytics/GA4.astro"
import METAPIXEL from "@analytics/METAPIXEL.astro"
import { ClientRouter } from "astro:transitions"
import defaultMeta from "@hero/metadata/metadata"

const { meta = defaultMeta } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/FiveBrains.png" />
		<meta name="generator" content={Astro.generator} />

		<title>{meta.title}</title>
		<meta name="description" content={meta.description} />
		<link rel="canonical" href={meta.canonical} />

		<meta property="og:title" content={meta.og.title} />
		<meta property="og:description" content={meta.og.description} />
		<meta property="og:url" content={meta.og.url} />
		<meta property="og:image" content={meta.og.image} />
		<meta property="og:type" content={meta.og.type} />

		<link rel="sitemap" href="/sitemap-index.xml" />

		<ClientRouter/>

		<GTM />
		<GA4 />
		<METAPIXEL />
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />

		<script type="module" src="/utils/initScrollTracking.js"></script>

		<script>
      import AOS from "aos"
      AOS.init();
    </script>
		
		<noscript>
			<iframe
				src={`https://www.googletagmanager.com/ns.html?id=${import.meta.env.PUBLIC_GTM_ID}`} 
				height="0" width="0" 
				style="display:none;visibility:hidden">
			</iframe>
  </noscript>
	</body>
</html>
